<div class="header">
  <img src="/assets/img/Burger.png" alt="hamburger picture">
  <h1>Eat-Da-Burger</h1>
</div>

<br>

<div class="containter">
  <div id="burgersHolder">
    <div id="burgersReadyToEat">
      <h2>Burgers That Are Ready to Eat</h2>
      {{#each burgersReadyToEat}}
      <div class="theBurgers">
        <h3>{{this.burger_name}}</h3>
        <button class="devourButton btn-warning" onclick="update({{this.id}})">Devour It!</button>
      </div>
      {{/each}}
    </div>
    
    <br>

    <div id="burgersDevoured">
      <h2>Burgers That Have Been Devoured</h2>
      {{#each burgersDevoured}}
      <div class="theBurgers">
        <h3>{{this.burger_name}}</h3>
      </div>
      {{/each}}
    </div>
  </div>
  <form id="newBurger">
    <label for="newBurgerName">Enter a burger you want to eat, then click the "Submit" button.</label>
    <br>
    <input type="text" id="newBurgerName" name="name">
    <button class="btn-danger" id="submit" type="submit">Submit</button>
  </form>
</div>

<br>