{{!-- Setup the index.handlebars to have the template that Handlebars can render onto.
Create a button in index.handlebars that will submit the user input into the database. --}}


<img src='../public/assets/img/Burger.png' atl="picture of a burger">

<h2>Eat-Da-Burger!</h2>

{{!-- This is where the burgers will go once they are added using the form below. --}}

<form class="create-burger"></form>
    <div class="form-group">
        <input type="text" id="burger-input" name="name">
    </div>
    <div>
        <button type="submit">Submit</button>
        <h4>Enter a burger you want to eat. Click the "Submit" button.</h4>
    </div>
</form>